/* #E67E22 - LARANJA */
/* #394968 - AZUL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  background-color: #394968;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header > img {
  width: 120px;
  margin: 5px 0;
}

nav {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.form-recado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 10px;
  padding: 10px;
  border: 1px #d9d9d9 solid;
}

.form-recado > div {
  display: flex;
  flex-direction: column;
}

.form-recado > div > input,
.form-recado > div > textarea,
.form-recado > input {
  width: 100%;
  min-width: 200px;
  border: 1px #d9d9d9 solid;
  border-radius: 5px;
  padding: 10px 0;
}

input[type="submit"],
input[type="reset"] {
  padding: 8px 0;
  border: none;
  color: white;
}

input[type="submit"] {
  background-color: #394968;
}

input[type="reset"] {
  background-color: #e67e22;
}

footer {
  width: 100vw;
  background-color: #394968;
  position: fixed;
  bottom: 0;
  color: white;
  text-align: center;
  padding: 5px 0;
}

img {
  width: 150px;
}
