.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 968px;
  width: 100vw;
}

.conteudo {
  width: 50%;
  background-color: rgb(199, 199, 199);
  padding: 20px;
  border-radius: 10px;
}

/*
    @media - Para dizer que vai existir uma regra
    screen - Para dizer que vai aplicar a regra a tela
    and - E 
    (max-width: 768px) - Condição

    @media tela E (condição) {
        ...css
    }

    MIN - Maior ou igual -- >=
    MAX - Menor ou igual -- <=

*/

@media screen and (max-width: 320px) {
  .conteudo {
    width: 90%;
    background-color: red;
  }
}
