.logo-grow {
  width: 180px;
  height: auto;
}

.text-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de linhas visíveis antes de truncar */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  min-height: 75px;
}
